html, body
{
    margin : 0px;
    height : 100%;
}
.fillParent
{
    width : 100%;
    height : 100%;
}

body
{
    min-width: 640px;
    max-width: 1820px;
}

.Title
{
    margin : 0px;
    width : 100%;
}

.TitleText
{
    margin : 0px;
}

.Menu
{
    height : 80%;
    width : 15%;
    float : left;
}

.Content
{
    width : 85%;
    float : left;
}

.dolny
{
    width : 100%;
}