body
{
    margin : 0px;
    min-width: 640px;
    max-width: 1820px;
}

.Title
{
    margin : 0px;
    width: 100%;
}

.TitleText
{
    margin : 0px;
}

.dziecko1
{
    width:25%;
    float: left;   
}

.dziecko2
{
    width:50%;
    float: left;   
}

.dziecko3
{
    width:25%;
    float: left;   
}

.dolny
{
    width: 100%;
}