html, body
{
    margin : 0px;
    height : 100%;
}

body
{
    min-width: 640px;
    max-width: 1820px;
}

a
{
    text-decoration : none;
}

.fillParent
{
    width : 100%;
    height : 100%;
}

.Title
{
    height : 15%;
    margin : 0px;
    width: 100%;
}

.TitleText
{
    margin : 0px;
}

.MenuContentContainer {
	margin : auto;
	width : 60%;
	height : 80%;
}

.Menu
{
    height : 20%;
    width : 100%;
}

.Content
{
    height : 80%;
    width : 100%;
}

.Footer {
	width : 100%;
	height : 5%;
	font-family : calibri;
	font-style : italic;
	margin : 0px;
}